.toggle-nav {
    padding: 15px;
    margin: 15px;
    display: inline-block !important;
    color: #8D7F68;
    color: #fff;
    transition: color linear 0.15s;
}

.toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #8D7F68;
}

.menu.main {
    display: inline-block;
    position: relative;
    background: #fff;
}

.menu.main ul {
    display: none;
	position: absolute;
    top: 80%;
    left: 0px;
    padding-left: 15px;
    background: #fff;
}

.menu.main li {
    display: block;
    float: none;
}


@media screen and ( max-width: 480px) {


}
