$media: "desktop-first";
$bp1: null;
$bp2: null;
$bp3: null;
$bp4: null;
$bpPrefix: null;

@if $media == "desktop-first" {
    $bp1: 1200px;
    $bp2: 992px;
    $bp3: 768px;
    $bp4: 400px;
    $bpPrefix: max-width;
} @else if $media == "mobile-first" {
    $bp1: 400px;
    $bp2: 768px;
    $bp3: 992px;
    $bp4: 1200px;
    $bpPrefix: min-width;
}

@mixin bp($point) {

    @if $media == "desktop-first" {

        @if $point == bp-1 {
            @media (max-width: $bp1) {
                @content;
            }
        } @else if $point == bp-2 {
            @media (max-width: $bp2) {
                @content;
            }
        } @else if $point == bp-3 {
            @media (max-width: $bp3) {
                @content;
            }
        } @else if $point == bp-4 {
            @media (max-width: $bp4) {
                @content;
            }
        }

    } @else if $media == "mobile-first" {

        @if $point == bp-1 {
            @media (min-width: $bp1) {
                @content;
            }
        } @else if $point == bp-2 {
            @media (min-width: $bp2) {
                @content;
            }
        } @else if $point == bp-3 {
            @media (min-width: $bp3) {
                @content;
            }
        }

    }
}

/** Convert PX to EM **/
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

;